:root{
    --header-text-color: black;
    --main-color: #fefefe;
    --button-color: #bc4749;
    --background-color: #DCDCDC;
}

body {
    margin: 0;
    font-family: 'Quicksand', Helvetica, sans-serif;
    color: var(--header-text-color);
}

header{
    width: auto;
    height: 8vh;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    color: var(--header-text-color);
    background-color: var(--main-color);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

main{
    width: auto;
    min-height: 90vh;
    height: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items: center;

    background-color: var(--background-color);
}

.newButton-container{
    height: 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

.newButton-container button{
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #353535;
    font-size: 4.5vmin;
    color: whitesmoke;
}

.grid-container{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;

    gap: 10px;
}

.grid-container div{
    width: 80%;
    height: 20vh;

    justify-self: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    color: var(--header-text-color);
    border-radius: 20px;
    background-color: var(--main-color);
}

.book-card{
    height: 100%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
    z-index: 1;
    color: var(--header-text-color);
}

.book-card .title{
    height: 100%;
    font-size: 5vmin;
}

.book-card .author{
    height: 33%;
    padding-bottom: 20px;
}

.book-card .status-button{
    height: 50%;
    width: auto;
    min-width: 30%;
    border: 1px solid rgba(240, 20, 20, 0.1);
    background-color: var(--button-color);
    border-radius: 9px;
    font-size: 4vmin;
    margin-bottom: 10px;
    color: black;
}
    

.status-button-bg{
    background-color: darkseagreen !important;
}

.book-card .remove-button{
    height: 50%;
    width: 30%;
    border: 1px solid rgba(240, 20, 20, 0.1);
    background-color: var(--button-color);
    border-radius: 9px;
    font-size: 4vmin;
    margin-bottom: 10px;
    color: black;
}

footer{
    width: auto;
    height: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    background-color: var(--main-color);
}

footer h2 {
    font-size: 2vmin;
}

.form-popup {
    display: none;
    
  }

.overlay-shadow{
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
}

/* Add styles to the form container */
.form-container {
    display: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    position: absolute;
    height: 35vh;
    width: 80vw;
    top: 150px;
    bottom: 50px;
    right: 10vw;
    left: 10vw;
    z-index: 2;

    border-radius: 10px;
    background-color: #fefefe;
}

.wrapper{
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#close-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 20px;
    margin-right: 10px;

    border: none;
    outline: none;
    background-color: rgb(234, 228, 228);
    border-radius: 5px;
    cursor: pointer;
}

#button-icon{
    display: flex;
    align-items: center;
}
.form-container #title, .form-container #author{
    height: auto;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 5vmin;
}

.form-container #reading-status{
    margin-left: 10px;
    font-size: 4.5vmin;
}
input[type="checkbox"]{
    vertical-align:middle;
    list-style-type: none;
}

#submit-button{
    width: 32%;
    height: 13%;
    min-height: 30px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: forestgreen;
    font-size: 4.5vmin;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
    height: auto;
    width: 90%;
    padding: 8px;
    margin: 5px 0 12px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 15px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
